.container.mt-5.main-contain{
    padding-right: 3.5rem;
    padding-left: 3.5rem;
}
.doctor-card {
	display: flex;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 20px 20px 10px 20px;
    background-color: #fff;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.doctor-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.doctor-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}
.doctor-card:hover .doctor-image {
    transform: rotate(5deg);
}
.doctor-info {
    flex-grow: 1;
}
.doctor-actions {
    text-align: right;
}
.book-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.book-btn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}
